[submodule "external/volley"]
	path = external/volley
	url = git@github.com:littlekey/volley.git
[submodule "framework/base"]
	path = framework/base
	url = git@github.com:littlekey/android-framework-base.git
[submodule "framework/mvp"]
	path = framework/mvp
	url = git@github.com:littlekey/android-framework-mvp.git
[submodule "framework/network"]
	path = framework/network
	url = git@github.com:littlekey/android-framework-network.git
[submodule "model"]
	path = model
	url = git@github.com:littlekey/android-model.git
[submodule "framework/update"]
	path = framework/update
	url = git@github.com:littlekey/android-framework-update.git
